html, body {
  font-family: 'Merriweather', serif;
  height: 100%;
  margin: 20px 20px;
}

.freeroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 32px;
    padding: 16px;
    border-bottom: 1px solid lightgrey;
}

.freeroll-title {
    grid-column: 1/4;
    grid-row: 1;
    align-self: center;
    /*justify-self: center;*/
}

.freeroll-button {
    grid-column: 6;
    grid-row: 1;
}

.receiver-error {
    display: none;
}
.receiver-valid {
    display: none;
}

.title-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.review-container {
    display: none;
}
