html, body {
  font-family: 'Merriweather', serif;
  height: 100%;
  margin: 0; }

.content-outside {
  min-height: 100%; }

.content-inside {
  padding: 20px;
  padding-bottom: 100px; }

#content {
  margin-top: 80px; }

.clear-float-div {
  clear: both; }

.hidden {
  display: none; }

a, a:link, a:visited, a:focus, a:hover, a:active {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:link:hover, a:visited:hover, a:focus:hover, a:hover:hover, a:active:hover {
    text-decoration: underline; }

button {
  font-family: 'Merriweather', serif;
  background-color: buttonface;
  cursor: pointer;
  border-radius: 2em; }

input, select {
  border-width: 2px;
  border-style: inset;
  padding: 1px 0;
  font: 400 13.3333px Arial;
  background-color: white;
  width: 283.500px;
  border-color: grey; }

.spinner {
  margin: -10px auto 0;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid gray;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite; }

.load-message p {
  text-align: center;
  color: grey;
  font-size: 0.8em; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.overlay {
  position: absolute;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none; }

body.error .overlay {
  display: block; }

body.error div.error-bar {
  width: 400px;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: #202020;
  color: #ffffff;
  font-size: 18px;
  display: block !important;
  text-align: center;
  border-radius: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2; }
  body.error div.error-bar a {
    color: orange; }

span.error-label.invalid-network {
  display: none; }

span.error-label.no-metamask-accounts {
  display: none; }

span.error-label.no-metamask-plugin {
  display: none; }

body.error-invalid-network div.error-bar span.error-label.invalid-network {
  display: inline !important; }

body.error-no-metamask-accounts div.error-bar span.error-label.no-metamask-accounts {
  display: inline !important; }

body.error-no-metamask-plugin div.error-bar span.error-label.no-metamask-plugin {
  display: inline !important; }

#title-container {
  text-align: center; }
  #title-container #header-title {
    font-size: 4em;
    margin: 50px auto 0; }
  #title-container #header-subtitle {
    margin: 5px auto 0; }

footer {
  height: 50px;
  margin-top: -50px;
  text-align: center; }
  footer a, footer a:link, footer a:visited, footer a:focus, footer a:hover, footer a:active {
    color: grey;
    text-decoration: none;
    cursor: pointer; }
    footer a:hover, footer a:link:hover, footer a:visited:hover, footer a:focus:hover, footer a:hover:hover, footer a:active:hover {
      text-decoration: underline; }

.hamburger {
  background: none;
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: black;
  border: 0;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 1; }

.cross {
  display: none;
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 7px 15px 0px 15px;
  color: black;
  border: 0;
  font-size: 4em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 1; }

.lang-menu {
  position: absolute;
  top: 25px;
  right: 70px; }
  .lang-menu .lang-select {
    width: 80px;
    border-radius: 2em; }

.nav-menu {
  z-index: 1;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f5f5f5;
  position: absolute;
  top: 50px;
  right: 0px;
  width: 150px;
  text-align: center;
  display: none;
  border-radius: 1em; }
  .nav-menu a {
    text-decoration: none;
    color: black; }
  .nav-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none; }
    .nav-menu ul li {
      display: block;
      padding: 15px 0 15px 0; }
      .nav-menu ul li:hover {
        display: block;
        background: #ffffff;
        padding: 15px 0 15px 0; }

/* Dropdown (buttons and content)
	- Freerollio has two: Introduction, Post
*/
.dropdown-container {
  text-align: center;
  margin-top: 20px; }

.dropdown-button {
  width: 500px;
  height: 75px;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 25px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.5em; }
  .dropdown-button:hover {
    background-color: white;
    color: black; }
  .dropdown-button:focus {
    outline: none; }

.dropdown-content-container {
  display: none;
  max-width: 500px;
  margin: 5px auto 5px;
  padding: 20px 0 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1em; }
  .dropdown-content-container p {
    padding: 10px;
    margin: 0px; }
  .dropdown-content-container .intro-button {
    color: black;
    padding: 10px;
    border-radius: 1em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-width: 0;
    float: left;
    width: 45%;
    margin: 2.5%; }
    .dropdown-content-container .intro-button:hover {
      background-color: white;
      color: black; }
  .dropdown-content-container #guide-button:hover {
    cursor: not-allowed; }

.user-input {
  margin: 10px; }
  .user-input .post-info-title-container {
    padding: 0; }
  .user-input input {
    width: 279.5px; }
  .user-input #user-input-receiver {
    display: none; }

.post-input-row {
  position: relative; }
  .post-input-row input, .post-input-row select, .post-input-row img {
    float: right; }
  .post-input-row .post-info-input-container {
    margin-right: 98px; }

.tooltiptext-container img {
  margin-left: 5px;
  margin-right: 69px; }
.tooltiptext-container .tooltiptext {
  white-space: pre;
  font-size: .8em;
  visibility: hidden;
  background-color: white;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  position: absolute;
  /* Position the tooltip ***Important***/
  z-index: 1;
  top: -5px;
  left: 415px; }
.tooltiptext-container:hover .tooltiptext {
  visibility: visible;
  z-index: 1; }

#review-button {
  width: 283.5px;
  margin: 20px auto;
  padding: .8em;
  border-radius: 1em;
  border-width: 0;
  color: black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }
  #review-button:hover {
    background-color: white; }

#search-container {
  max-width: 500px;
  margin: 20px auto 80px; }
  #search-container .search-title-container {
    max-width: 500px;
    height: 75px;
    display: inline-block;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    background-color: black;
    color: white; }
    #search-container .search-title-container .title-container {
      width: 500px;
      padding-top: 20px;
      display: inline-block;
      text-align: center;
      font-size: 1.5em;
      vertical-align: middle; }
    #search-container .search-title-container .filter-link {
      margin: 0;
      width: 500px;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      font-size: .7em;
      color: grey;
      margin-bottom: 5px; }

#filter-container {
  max-width: 500px;
  margin: 5px auto 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  color: grey;
  display: none; }
  #filter-container .filter-row {
    width: 320px;
    margin: 0 auto;
    text-align: center; }
    #filter-container .filter-row .category, #filter-container .filter-row .receiver {
      padding: 8px;
      float: left;
      text-align: left;
      width: 65px; }
    #filter-container .filter-row .filter-button-edge {
      background-color: white;
      padding: 4px;
      float: left;
      width: 107.5px; }
      #filter-container .filter-row .filter-button-edge .filter-button-middle {
        cursor: pointer;
        background-color: white;
        padding: 4px;
        border-radius: 2em;
        font-size: .8em;
        color: grey;
        border-style: solid;
        border-color: grey;
        border-width: 1px; }
        #filter-container .filter-row .filter-button-edge .filter-button-middle.unselected {
          border-style: none; }

#no-more-results-category, #no-results-category {
  display: none; }

#searching-blockchain p {
  text-align: center;
  color: grey;
  font-size: 0.8em; }

#loadmore-button-container {
  text-align: center;
  cursor: pointer;
  display: none;
  margin-top: 8px; }
  #loadmore-button-container .loadmore-link {
    font-size: .8em;
    color: grey; }
    #loadmore-button-container .loadmore-link:hover {
      color: black; }

.search-complete {
  text-align: center;
  font-size: .8em;
  color: grey; }

.single-result-container {
  width: 500px;
  padding: 10px 0 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  border-bottom: solid 1px #d9dde0;
  border-top: solid 1px #d9dde0;
  display: inline-block;
  position: relative;
  text-align: left; }
  .single-result-container:hover {
    padding: 20px 0 20px; }
  .single-result-container #results-container-tooltiptext {
    white-space: pre;
    font-size: .8em;
    visibility: hidden;
    background-color: white;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    position: absolute;
    /* Position the tooltip ***Important***/
    z-index: 1;
    top: 10px;
    left: 101%;
    white-space: normal;
    text-align: center;
    color: grey; }
  .single-result-container:hover #results-container-tooltiptext {
    visibility: visible; }

.search-result-title-row {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
  color: black;
  width: 100%; }
  .search-result-title-row .result-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 0 0 10px;
    display: inline-block;
    max-width: 62%; }
  .search-result-title-row .icon {
    float: right;
    padding: 10px 10px 0; }
    .search-result-title-row .icon div {
      white-space: pre;
      text-align: center; }

.search-result-footer-row {
  margin-top: -10px;
  display: inline-block;
  text-decoration: none;
  font-size: .6em;
  color: grey; }
  .search-result-footer-row .status-footer {
    float: left;
    padding-left: 20px; }

/* Modals
- Freerollio has two different modals (details and review)
*/
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  left: 0;
  top: 0;
  z-index: 1;
  /* Sit on top */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.modal-form {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  /* Could be more or less, depending on screen size */ }

.content-left {
  margin: 50px 0 0 20px; }

.content-right {
  float: right;
  margin: 50px 20px 0 0; }

.modal-title-container {
  text-align: center;
  border-bottom: 1px solid grey;
  position: relative;
  padding-bottom: 10px; }
  .modal-title-container h3 {
    margin-bottom: 0; }
  .modal-title-container .modal-sub-header-a {
    margin: 0 auto;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8em;
    margin-bottom: 10px;
    font-weight: bold; }
  .modal-title-container #review-subtitle {
    margin: 0 auto;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8em;
    margin-bottom: 10px;
    font-weight: bold; }
    .modal-title-container #review-subtitle:hover {
      text-decoration: none; }

.modal-body {
  padding: 10px;
  font-size: .8em; }
  .modal-body .after-submit-container {
    padding: 10px; }
    .modal-body .after-submit-container h3 {
      margin: 0 auto;
      text-align: center; }
  .modal-body .modal-body-data {
    display: none; }
  .modal-body .modal-load-message {
    margin-top: 10px;
    text-align: center; }

.modal-item {
  margin: 10px 0;
  max-width: 100%;
  overflow: hidden; }
  .modal-item .vital-content {
    font-weight: bold; }
  .modal-item select {
    width: 140px; }
  .modal-item p {
    display: inline-block;
    margin: 0;
    padding: 0; }
  .modal-item a {
    font-weight: bold; }

.modal-body-border {
  margin: 10px auto 10px;
  width: 60%;
  border-bottom: 1px solid grey; }

.modal-button-container {
  margin-top: 5px; }
  .modal-button-container .valid-button {
    color: black;
    padding: 10px;
    border-radius: 1em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-width: 0;
    float: left;
    width: 45%;
    margin: 2.5%; }
    .modal-button-container .valid-button:hover {
      background-color: white;
      color: black; }
  .modal-button-container .greyout-button {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 1em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-width: 0;
    float: left;
    width: 45%;
    margin: 2.5%; }
    .modal-button-container .greyout-button:hover {
      cursor: not-allowed; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -30px; }
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
