// Introduction / Dropdown Div and Button ......................................
.dropdown-container {
	text-align: center;
    margin-top: 10px;

	h3 {
		margin: 0;
	}

    .dropdown-button {
        width: 250px;
        background-color: black;
        border: none;
        color: white;
        padding: 15px 25px;
        box-shadow: 1px 1px 10px rgba(0,0,0,.2);
        font-size: 1.1em;

        &:hover {
            background-color: white;
            color: black;
        }

		&:focus {
			outline: none;
		}
    }

    .dropdown-content-container {
        display: none;
        max-width: 500px;
        margin: 5px auto 5px;
        padding: 20px 0 10px;
        box-shadow: 1px 1px 10px rgba(0,0,0,.2);
        border-radius: 1em;

        p {
            padding: 10px;
            margin: 0px;
        }


        .float-button {
            background-color: $grey-btn;
            color: black;
            padding: 10px;
            border-radius: 1em;
            box-shadow: 1px 1px 5px rgba(0,0,0,.2);
            border-width: 0;
            float: left;
            width: 45%;
            margin: 2.5%;

            &:hover {
                background-color: white;
                color: black;
            }
        }

		#guide-button {
			&:hover {
			   cursor: not-allowed;
			}
		}
	}
}

// Modifications for post container
#post-container {

	.post-input-row {
		position: relative;

		img {
			float:right;
			margin-left: 5px;
			margin-right: 69px;
		}

		input, select {
			float:right;
		}

		.post-info-input-container {
			margin-right: 98px;
		}

		// #user-input-receiver {
		// 	margin-right: 98px;
		// }

		.tooltiptext-container {
			img {
				float:right;
				margin-left: 5px;
				margin-right: 69px;
			}



					.tooltiptext {

						white-space: pre;
						font-size: .8em;
						visibility: hidden;
						top: -5px;
						left: 415px;
						background-color: white;
						border-radius: 6px;
						border-width: medium;
						border-style: solid;
						border-color: black;
						padding: 10px;
						position: absolute; /* Position the tooltip ***Important***/
					}

					&:hover .tooltiptext {
						visibility: visible;
						z-index: 1;
					}

		}


	}

    .user-input {
        margin: 10px;

        .post-info-title-container {
            padding: 0;
        }

        #user-input-receiver {
            display: none;
        }
    }

    .post-select {
        width: 283.500px;
        font: 400 13.3333px Arial;

        // height: 18.5px;
        padding: 1px 0;
        color: grey;
        padding: 1px 0;
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
        background-color: white;
        font-family: 'Merriweather', serif;


        &:focus {
            outline: 0;
        }
    }

	#review-container-button {

		margin: 30px 2.5% 2.5% 2.5%;
		padding: .8em;
		border-radius: 1em;
		border-width: 0;
		width: 95%;
		background-color: $grey-btn;
		color: black;
		box-shadow: 1px 1px 5px rgba(0,0,0,.2);

		&:hover {
			background-color: white;
		}

	}
}
