/* Dropdown (buttons and content)
	- Freerollio has two: Introduction, Post
*/


.dropdown-container {
	text-align: center;
    margin-top: 20px;
}

.dropdown-button {
	width: 500px;
	height: 75px;
	background-color: black;
	border: none;
	color: white;
	padding: 15px 25px;
	box-shadow: 1px 1px 10px rgba(0,0,0,.2);
	font-size: 1.5em;

	&:hover {
		background-color: white;
		color: black;
	}

	&:focus {
		outline: none;
	}
}


.dropdown-content-container {
    display: none;
    max-width: 500px;
    margin: 5px auto 5px;
    padding: 20px 0 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
    border-radius: 1em;

    p {
        padding: 10px;
        margin: 0px;
    }


    .intro-button {
        color: black;
        padding: 10px;
        border-radius: 1em;
        box-shadow: 1px 1px 5px rgba(0,0,0,.2);
        border-width: 0;
        float: left;
        width: 45%;
        margin: 2.5%;

        &:hover {
            background-color: white;
            color: black;
        }
    }

	#guide-button {
		&:hover {
		   cursor: not-allowed;
		}
	}
}

// User-input Container
.user-input {
	margin: 10px;

	.post-info-title-container {
		padding: 0;
	}

	input {
		width: 279.5px;
	}

	#user-input-receiver {
		display: none;
	}
}

// Row for user input and tool tip image
.post-input-row {
	position: relative;

	input, select, img {
		float:right;
	}

	.post-info-input-container {
		margin-right: 98px;
	}
}

// Contains img and tool tip
.tooltiptext-container {

	img {
		margin-left: 5px;
		margin-right: 69px;
	}

	.tooltiptext {
		@include tooltiptext;
		top: -5px;
		left: 415px;

	}

	&:hover .tooltiptext {
		visibility: visible;
		z-index: 1;
	}
}

#review-button {

	width: 283.5px;
	margin: 20px auto;
	padding: .8em;
	border-radius: 1em;
	border-width: 0;
	color: black;
	box-shadow: 1px 1px 5px rgba(0,0,0,.2);

	&:hover {
		background-color: white;
	}

}
