// Header .........................................
#title-container {
    text-align: center;

    #header-title {
        margin: 50px auto 0;
    }

    #header-subtitle {
        margin: 5px auto 0;
    }
}

// Footer .........................................
footer {
    height: 50px;
    margin-top: -50px;
    text-align: center;

    a, a:link, a:visited, a:focus, a:hover, a:active {
        color: grey;
        text-decoration:none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
