// Search ........................................................................
#search-container {
    max-width: 500px;
    margin: 50px auto 80px;

    .search-title-container {
        max-width: 500px;
        display: inline-block;
        box-shadow: 1px 1px 10px rgba(0,0,0,.2);
        border-radius: 2em;
        background-color: black;
        color: white;

        .title-container {
            width: 500px;
            display: inline-block;
            text-align: center;
            font-size: 1.5em;
            padding: 10px 0 5px;

        }

        .filter-link-container {
            margin: 0;
            width: 500px;
            margin-bottom: 10px;
            display: inline-block;
            text-align: center;
            cursor: pointer;

            .filter-link {
                font-size: .7em;
                color: grey;
            }
        }
    }
}



#filter-container { // .dropdown-content-container
    // display: none;
    max-width: 500px;
    margin: 5px auto 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
    border-radius: 2em;
    color: grey;
    display: none;


// Question here: why is the filter-row div not containing the children?
    .filter-row {
        width: 320px;
        margin: 0 auto;
        text-align: center;

        .category, .receiver {
            padding: 8px;
            float:left;
            text-align: left;
            width: 65px;
        }

        .filter-button-edge {
            background-color: white;
            padding: 4px;
            float: left;
            width: 107.5px;

            .filter-button-middle {
                cursor: pointer;
                background-color: white;
                padding: 4px;
                border-radius: 2em;
                font-size: .8em;
                color: grey;
                border-style: solid;
                border-color: grey;
                border-width: 1px;

                &.unselected {
                    border-style: none;
                    // border-color: grey;
                    // border-width: 1px;
                }
            }
        }
    }
}

#no-more-results-category {
    display: none;
}

#searching-blockchain {

    p {
    text-align: center;
    color: grey;
    font-size: 0.8em;
    }
}
// Load-more
#loadmore-button-container {
    text-align: center;
    cursor: pointer;
    display: none;
    margin-top: 8px;

    .loadmore-link {
        font-size: .8em;
        color: grey;

        &:hover {
            color: black;
        }
    }
}

.search-complete {
    text-align: center;
    font-size: .8em;
    color: grey;
}

// Search results
.single-result-container {
    width: 500px;
    padding: 10px 0 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
    border-radius: 2em;
    border-bottom: solid 1px #d9dde0;
    border-top: solid 1px #d9dde0;
    display: inline-block;
    position: relative;
    text-align: left;

    &:hover {
        padding: 20px 0 20px;
    }

    #results-container-tooltiptext {
        color: grey;
        font-size: .7em;
        visibility: hidden;
        top: 10px;
        left: 101%;
        background-color: #fff;
        border-radius: 6px;
        border-style: solid;
        border-color: grey;
        padding: 10px;
        text-align: center;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    &:hover #results-container-tooltiptext {
        visibility: visible;
    }





    .search-result-title-row {
        font-family: Georgia, Times, "Times New Roman", serif;
        font-weight: normal;
        color: black;
        width: 100%;


            .result-title {

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 10px 0 0 10px;
                display: inline-block;
                max-width: 62%;
            }

            .icon {
                float: right;
                padding:  10px 10px 0;

                div {
                white-space: pre;
                text-align: center;
                }



            }
    }

    .search-result-footer-row {
        margin-top: -10px;
        display: inline-block;
        text-decoration: none;
        font-size: .6em;
        color: grey;

        .status-footer {
            float: left;
            padding-left: 20px;
        }
    }
}




// &:hover #location-tooltiptext {
//     visibility: visible;
// }
